$bg: #eeeee;

body {
  background-color: $bg;
}

#feedback-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;

  &[data-v-state="open"] {
    .feedback_popup,
    .feedback_emoticon {
      opacity: 1;
      bottom: 92px;
      pointer-events: all;
    }

    .feedback_emoticon {
      bottom: 0px;
      &:nth-child(1) {transition-delay: 0.1s;}
      &:nth-child(2) {transition-delay: 0.22s;}
      &:nth-child(3) {transition-delay: 0.34s;}
      &:nth-child(4) {transition-delay: 0.46s;}
      &:nth-child(5) {transition-delay: 0.58s;}
    }

    .feedback-buddy {
      display: none;
    }

    .feedback_close {
      display: block;
    }
  }

  &[data-emoticon="1"] .feedback_emoticon:nth-child(1),
  &[data-emoticon="2"] .feedback_emoticon:nth-child(2),
  &[data-emoticon="3"] .feedback_emoticon:nth-child(3),
  &[data-emoticon="4"] .feedback_emoticon:nth-child(4),
  &[data-emoticon="5"] .feedback_emoticon:nth-child(5) {
    .feedback_emoticon_icon {
      opacity: 1;
    }
  }

  &[data-emoticon="1"] .feedback_content_comment:before {left: 9.5%;}
  &[data-emoticon="2"] .feedback_content_comment:before {left: 29.5%;}
  &[data-emoticon="3"] .feedback_content_comment:before {left: 49.5%;}
  &[data-emoticon="4"] .feedback_content_comment:before {left: 69.5%;}
  &[data-emoticon="5"] .feedback_content_comment:before {left: 89.5%;}

  &[data-emoticon] {
    .feedback_content_comment,
    .feedback_footer {
      display: block;
    }
    .feedback_emotion_text,
    .feedback_title {
      display: none;
    }
    .feedback_emoticon_wrapper {
      margin-bottom: 20px;
    }
  }
}

.feedback-buddy,
.feedback_close {
  bottom: 20px;
  right: 30px;
  // opacity: 0;
  position: fixed;
  z-index: 10;
  bottom: 33px;
  width: 44px;
  height: 37px;
  font-size: 20px;
  text-align: center !important;
  cursor: pointer;
  background-color: #f4364c !important;
  color: #ffffff !important;
  padding-left: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,.18);
}

.feedback_close {
  display: none;
}

.feedback-buddy_min {
  opacity: .96;
  position: fixed;
  direction: ltr !important;
}

.feedback_popup {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  width: 320px;
  bottom: 84px;
  right: 30px;
  background: #ffffff;
  box-shadow: 0 6px 100px 0 rgba(0,0,0,.35) !important;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}

#feedback-wrapper p {
  color: #333333;
  margin: 0;
}

.feedback_title {
  padding: 40px 40px 0;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
  cursor: default;
  font-size: 17px;
  font-weight: normal;
  line-height: normal !important;
}

.feedback_emoticon_wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

#feedback-wrapper[data-emoticon] .feedback_emoticon_icon,
#feedback-wrapper .feedback_emoticon_wrapper:hover .feedback_emoticon_icon {
  opacity: .6;
}

.feedback_emoticon {
  position: relative;
  display: inline-block;
  bottom: -50px;
  opacity: 0;
  width: 20%;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  height: 30px;
  transition: bottom .3s cubic-bezier(0.175, 0.885, 0.320, 1.350),
              opacity .3s cubic-bezier(0.175, 0.885, 0.320, 1.350);
  transition-delay: .2s;
  &:hover {
    .feedback_emoticon_icon {
      transition: none;
      opacity: 1 !important;
    }

    .feedback_emotion_text {
        opacity: 1;
        top: 42px;
    }
  }
}

.feedback_emotion_text {
  position: absolute;
  font-size: 12px;
  color: #999;
  text-align: center;
  padding-left: 6px;
  top: 47px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.feedback_content_comment {
  background: #eaeaeb;
  margin-bottom: 12px;
  display: none;
  position: relative;

  &:before {
    content: "";
    width: 1px;
    height: 1px;
    position: absolute;
    left: auto;
    top: -6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.1);
  }
}

.feedback_textarea {
  border: 0 !important;
  color: #454A55 !important;
  background: transparent;
  padding: 12px 20px;
  resize: none;
  outline: none;
  box-shadow: none;
  width: 280px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.feedback_footer {
  padding: 0 12px 12px 12px;
  text-align: right;
  display: none;
}

.feedback_btn {
  cursor: pointer;
  text-decoration: none !important;
  font-size: 13px !important;
  font-weight: bold !important;
  padding: 7px 10px !important;
  border: 0 !important;
  outline: 0 !important;
  height: initial !important;
  min-height: initial !important;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: auto !important;
  min-width: initial !important;
  zoom: 1;
  transition: all .2s ease-in-out;
  border-radius: 3px;

  &.primary {
    background: #f4364c !important;
    color: #ffffff !important;
    font-weight: normal !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  }

  &.disabled,
  &[disabled] {
    box-shadow: none;
    background: #cccccc !important;
    color: #333333 !important;
  }
}
